/* 超連結反饋，參照用 */
/* .br:hover,a:hover{
    color:#ff525b;
    background-color: #cde2d0;
    text-decoration: none;
} */
/* 邊框顏色，參照用 */
.BlogLine {
    border: 3px solid #ff525b;
}
/* 邊框顏色，表格用 */
.BlogLineTop {
    border-top:3px solid #ff525b;
}
/* 書評部落格 (參照背景) */
.reviewerBlog {
    background: #fff;
    /* background: url(../reviewer_page//images/03_評品書.png) center center; */
    max-width: 1920px;
    min-height: 1920px;
    margin: 0 auto;
    background-size: cover;
}
/* 書評部落格 (參照偽元素) */
.reviewerBlog::after{
    /* content: ""; */
    display: block;
    background: rgba(0,0,0,.25);
    position: absolute;
    left:0px;
    right:0;
    top:0;
    bottom:0;
}
.BG_Blog{
    width: 160%;
    transform: translateX(-22%);
}

/* 書評家列表，整體區域 ( Display狀態改變) */
.ReviewerListAllBox{
    display: flex;
}
@media (max-width: 786px) {
    /* 書評家列表，整體區域 (狀態改變) */
    .ReviewerListAllBox {
        display: inline-block;
    }
    /* 影片顯示，RWD (狀態改變) */
    .brYouTubeRWD{
        width: 100%;
    }
}