/* 邊框顏色，參照用 */
.BlogLine {
    border: 3px solid #ff525b;
}
/* 邊框顏色，表格用 */
.BlogLineTop {
    border-top:3px solid #ff525b;
}
.h3_br{
    color: #ffffff;
    padding: 6px;
    margin: 0;
    text-align: center;
    background: #2d3a3a;
}
/* 書評部落格 (參照背景) */
.reviewerBlog {
    padding: 20px 200px 20px 200px;
    /* background: #fff; */
    /* background: url(../reviewer_page//images/03_評品書.png) center center; */
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
}
/* 書評部落格 (參照偽元素) */
.reviewerBlog::after{
    content: "";
    display: block;
    background: rgba(0,0,0,.25);
    position: absolute;
    left:0px;
    right:0;
    top:0;
    bottom:0;
}
.BlogBG{
    width: 160%;
    transform: translateX(-22%);
}
/* 品書雞 */
.pbookChick{
    position: absolute;
    width: 50px;
    right: 8rem;
    bottom: 2rem;
}
/* 書評家列表，整體區域 ( Display狀態改變) */
.BlogListAllBox{
    display: flex;
}
@media (max-width: 786px) {
    /* 書評家列表，整體區域 (狀態改變) */
    .BlogListAllBox {
        display: inline-block;
    }
    /* 影片顯示，RWD (狀態改變) */
    .BlogYouTubeRWD{
        width: 100%;
    }
}