/* 熱門書評標題，底線 */
.h5_hotText{
    font-size: 1.5rem;
    left: 0;
    right: 0;
    /* color: #2d3a3a; */
    color: #ffffff;
    border-bottom: 2px solid #ffc408;
    width: 140px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    text-align: center;
}
/* 邊框顏色，上下底線 */
.borderLineUpDown {
    border-top:3px solid #2d3a3a;
    border-bottom:3px solid #2d3a3a;
}
/* 邊框顏色，右下底線 */
.borderLineLB {
    border-right:3px solid #2d3a3a;
    border-bottom:3px solid #2d3a3a;
}
.brHotBookText:hover{
    text-decoration: none;
    color:#ffc408;
}
/* 熱門書評黑底 */
.blackBG::before{
    content:"";
    display: block;
    background: rgba(0,0,0,.7);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}
/* 熱門書評區域，整體區域 (背景光效) */
.HotBookBoxAll_Light{
    box-shadow: inset 0 20px 6rem #2d3a3a , inset 0 20px 6rem #2d3a3a;
    margin: -30px 0 0 0;
    transition:0.5s;
}
/* 熱門書評區域，整體區域 (區塊控制) */
.HotBookBoxAll_Bookcase{
    display: flex;
    top: 10px;
    padding: 50px 6px 0 6px;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}
/* 熱門書評，多本書 (文字) */
.brHotBookText{
    width: 100%;
    position: absolute;
    font-size: 0.9rem;
    color: #ffffff;
    left: 50%;
    top: 63%;
    transform: translateX(-50%);
    
}
/* 熱門書評，多本書區域 (圖片區塊) */
.HotBookBox_Bookcase{
    min-width: 110px;
    max-width: 180px;
    height: 250px;
    margin: 0 10px;
}
/* 熱門書評，多本書 (圖片) */
.brHotBookImg_Bookcase{
    box-shadow: 0px 0px 0px #2d3a3a;
    width: 100%;
    left: 50%;
    top: 20%;
    transform: translate(-50% , -50%);
    transition: 0.3s;
}
.brHotBookImg_Bookcase:hover{
    width: 105%;
    box-shadow: 0px 0px 12px #cde2d0;
}
/* 頭書，單本書區域 (圖片區) */
.brAvatarAllBox_Bookcase{
    width: 150px;
    padding: 0 10px;
}
/* 頭書，單本書 (圖片) */
.brBookInfoImg_Bookcase{
    box-shadow:2px 2px 2px rgba(45,58,58,0.6),4px 4px 6px rgba(45,58,58,0.4),6px 6px 12px rgba(45,58,58,0.4);
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    transition: 0.5s;
}
.brBookInfoImg_Bookcase:hover{
    box-shadow: 8px 8px 6px #979d9d;
    width: 105%;
}
/* 分頁，看看書櫃 (參照偽元素) */
.reviewerBooks {
    /* background: #fff; */
    max-width: 1200px;
    margin: 0 auto;
    /* background: url(../reviewer_page/images/02_看看書櫃.png) center center; */
    background-size:cover;
}
/* 分頁，看看書櫃 (參照偽元素) */
.reviewerBooks::after{
    /* content: ""; */
    display: block;
    background: rgba(0,0,0,.4);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}
/* 書評家簡介全區域 (縮放限制) */
.brInfoBox_Bookcase{
    width: 100%;
    min-height: 310px;
}
/* 書評家簡介，(文字、限制行數) */
.brInfoText_Bookcase{
    line-height: 28px;
    letter-spacing: .025rem;
    max-height: 200px;
    font-size: 1.2rem;
    margin: 6px 20px 12px 20px;
    /* color: rgba(255,255,255,.7); */
    color: #2d3a3a;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
/* 書評家簡介內的書名、作者 (文字) */
.bookInfo_Bookcase{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 6px 0 0 6px;
}
/* 社群分享，共用區域 (社群圖示區塊) */
.brIconBox_Bookcase{
    position: absolute;
    border-top: 2px solid #2d3a3a;
    /* margin: 5px; */
    padding: 5px 0 0 0;
    left: 0px;
    right: 0;
    bottom: 0;
}
/* 社群分享，分享圖示 (書櫃區的 社群圖示) */
.brIconShare_Bookcase{
    width: 30px;
    margin: 0 6px 6px 6px;
}
/* 評分組件區塊，區域控制 */
.brStarBox_Bookcase{    
    min-width: 150px;
}
/* ------------------------------------------------------------------ */
/* 書評家列表，整體區域 ( Display狀態改變) */
.ReviewerListAllBox_Bookcase{
    display: flex;
}
@media (max-width: 786px) {
    /* 書評家列表，整體區域 (狀態改變) */
    .brInfoBox_Bookcase {
       height: 400px;
    }
    /* 書評家簡介，(文字、限制行數) */
    .brInfoText_Bookcase{
        max-height: 280px;
        margin: 6px 20px 0px 20px;
        -webkit-line-clamp: 7;
    }
    /* 星評組件，RWD (狀態消失，換位todo..) */
    .brStarBox_Bookcase{
        display: none;        
    }
}