.changeGameIndexBG {
  width: 100vw;
  height: 100vh;
  background: url(images/changeGameIndexBG.png) center center no-repeat;
  background-size: cover;
}

/* -------------背景音樂按鈕------------- */
.myBGsoundBTN {
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  position: absolute;
}
/* -------------背景音樂按鈕------------- */


/* --------------遊戲首頁------------------ */
@media (min-width: 576px) {
  .PC-changeGameWrap {
    width: 85vw;
    height: 45vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .PC-changeGameIndexContext {
    width: 100%;
    height: 100%;
  }
  .PC-changeGameBtnWrap {
    width: 15vw;
    bottom: 7vw;
    left: 10vw;
  }
  .PC-changeGameBtnWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .PC-changeGameBtnWrap img:hover {
    transform: translate3d(1px, 1px, 1px);
    text-shadow: 0.1em 0.1em 0 rgb(173, 173, 173);
  }

  .PHONE-changeGameIndexContext {
    display: none;
  }
  .PHONE-changeGameBtnWrap {
    display: none;
  }
  .PHONE-changeGameBtnWrap img {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .PC-changeGameWrap {
    display: none;
  }
  .PC-changeGameIndexContext {
    display: none;
  }
  .PC-changeGameBtnWrap {
    display: none;
  }
  .PC-changeGameBtnWrap img {
    display: none;
  }

  .PHONE-changeGameIndexContext {
    width: 100vw;
    height: 80vh;
  }
  .PHONE-changeGameBtnWrap {
    width: 30vw;
    left: 35vw;
  }
  .PHONE-changeGameBtnWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .PHONE-changeGameBtnWrap img:hover {
    transform: translate3d(1px, 1px, 1px);
    text-shadow: 0.1em 0.1em 0 rgb(173, 173, 173);
  }
}
/* --------------遊戲首頁------------------ */

/* -------------------------雪花飄落效果----------------------- */
#snow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('./images/snow1.png');
  -webkit-animation: snow 15s linear infinite;
  animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 500px 500px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 500px 500px;
  }
}
/* -------------------------雪花飄落效果----------------------- */
