@import '../../color.scss';
.acItem {
  a h4{
    color: $color-black;
    transition: .1s;
    &:hover {
      font-weight: bold;
      color: $color-yellow;
      text-shadow: 1px 1px 1px $color-black
    }
  }
}
