@import '../../color.scss';

.acPageAside {
  .share {
    button,
    a {
      display: block;
      color:black;
      text-align: center;
      border: none;
      background: none;
      border-radius: 5px;
      flex-grow: 1;
      svg {
        font-size: 36px;
      }
      &:hover {
        background: lighten($color-gray, 30%);
        color: $color-black;
      }
    }
  }
  .sign-info {
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
    span {
      text-align: center;
      flex-basis: 100%;
      display: block;
    }
    button {
      border-radius: 4px;
      background: $color-green;
      color: $color-black;
      font-weight: 600;
      width: 50%;
      border: none;
      border: 1px solid transparent;
      transition: .3s;
      &:hover,
      &:focus {
        background: lighten($color-green, 5px);
        outline: none;
        box-shadow: none;
        color: $color-black;
      }
    }
  }
}
