@import '../../color.scss';
.acTable {
  .acTitle {
    cursor: pointer;
    &:hover {
      color: darken($color-yellow, 30%);
      font-weight: 600;
      background-color: lighten($color-green, 5%);
    }
  }
  .icon {
    color: $color-black;
    cursor: pointer;
    &:hover {
      color: lighten($color-black, 30%);
      background-color: lighten($color-green, 5%);
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: lighten($color-green, 12%);
  }
}
.swal-button--acDYes {
  background: $color-red;
}
.swal-button.swal-button--acDYes:not([disabled]):hover {
  background-color: darken($color-red, 20%);
}
