.chatWrap .list-group-item {
  padding: 10px;
  background: #979d9d44;
}

.chatWrap .list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.chatWrap .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chatWrap .list-group-item.active {
  color: #ffffff;
  background-color: #2d3a3a!important;
  border-color: #2d3a3a !important;
}

.chatWrap .chatImgWrap {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.chatWrap .chatImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.chatWrap .chatSearchBtn {
  color: #000;
}

.chatWrap .chatSearchBtn:hover {
  color: green;
}

.chatWrap .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cde2d0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #cde2d0;
}

.chatWrap .chatTextWrap {
  max-width: 80%;
}

.chatWrap .chatText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 747px) and (max-width: 1326.98px) {
  .chatWrap .chatTextWrap {
    max-width: 60%;
  }
}
@media (max-width: 746.98px) {
  .chatWrap .chatTextWrap {
    max-width: 50%;
  }
}

.chatWrap .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Chat containers */
.chatWrap .container {
  /* border: 2px solid #dedede; */
  background-color: #cde2d050;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.chatWrap .darker {
  /* border-color: #ccc; */
  background-color: #ffc50830;
}

/* Clear floats */
.chatWrap .container::after {
  content: '';
  clear: both;
  display: table;
}

/* Style images */
.chatWrap .container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chatWrap .container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.chatWrap .time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.chatWrap .time-left {
  float: left;
  color: #999;
}
