$main_color : #CDE2E0;
$black: #2D3A3A;


*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.content{
    background-color: blue;

    // width: 1280px;
    // position: absolute;
    // top: 0;
    // left: 320px;
}

