/* /reviews  書評首頁 */
* {
  outline: none;
}
/* 右側愛心區塊 */
.reviews_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px 0 0px 0;
  transform: translate(5px, 20px);
}
/* 分數文字 */
.reviews_bol {
  font-size: 1.5rem;
}
.reviews_sec {
  margin: 135px auto;
  display: flex;
}
.reviews_right {
  margin: 15px auto;
  transform: translate(0, 40px);
}

.reviews_btn {
  background: #fff;
  width: 70px;
  height: 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 15px;
  outline: none;
}

.reviews_btn:hover {
  background: #cde2d0;
  color: #2d3a3a;
  outline: none;
}

.reviews_btn:focus {
  background: #2d3a3a;
  color: #ffc408;
  outline: none;
}

.reviews_pagination {
  display: flex;
  justify-content: center;
  margin: 0 0px 30px 0;
  background-color: white !important;
  border-color: #dee2e6 !important;
  color: black !important;
  text-decoration: none;
  outline: none;
}

.pagination .page-item .page-link {
  color: black;
  outline: none;
}
.pagination .page-item .page-link:focus {
  border-color: #cde2d0;
  background: #cde2d0;
  color: white;
  outline: none;
  z-index: 2;
}
.pagination .page-item :active {
  background-color: #cde2d0;
  border-color: #cde2d0;
  color: white;
}
.pagination .page-item :active .page-link {
  background-color: #cde2d0;
  border-color: #cde2d0;
  color: white;
}
.pagination .page-item .pageNum {
  background-color: white !important;
  border-color: #dee2e6 !important;
  color: black !important;
}

.reviews_Link {
  z-index: 1;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.25rem 0.5rem;
  margin-left: -1px;
  background-color: white;
  border-color: #dee2e6;
  color: black;
  border: 1px solid #dee2e6;
}

.reviews_img {
  max-height: 100%;
  max-width: 100%;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
}

/* 文字超連結A標籤 效果 */
.reviews_list_sid {
  text-decoration: none;
  color: #2d3a3a;
}
.reviews_list_sid:hover {
  color: #ffc408;
}

/* ----------------------------------------------------------------------- */
/*  /list  進入單本書籍後 書評頁面 */
.reviews_line {
  display: flex;
  flex-direction: row-reverse;
}
/* 書評發送鈕 */
.reviews_submitBtn {
  width: 110px;
  height: 30px;
  margin: 0 0 15px 650px;
  border-radius: 8px;
  background-color: #2d3a3a;
  color: #ffc408;
  outline: none;
  border: none;
}
/* 分數條及愛心平行 */
.reviews_LineAndScore {
  display: flex;
  align-items: center;
}
/* 分數條及愛心調整 */
.reviews_col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px 0 0px 0;
  transform: translate(5px, 5px);
}

/* 購買按鈕 */
.BookBuy {
  width: 110px;
  height: 30px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #cde2d0;
  color: #2d3a3a;
  border: 1px solid #ccc;
  transform: translate(-160px, 0);
  outline: none;
}

/* 書櫃按鈕 */
.BookCase {
  width: 110px;
  height: 30px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #2d3a3a;
  color: #ffc408;
  transform: translate(-160px, 0);
  outline: none;
  border: none;
}

/* 書評輸入欄 */
.reviews_textarea {
  width: 1000px;
  min-height: 120px;
  border: 1.5px solid #ccc;
  border-radius: 1rem;
  padding: 0.7rem;
}

/* 表單 */
.reviews_form {
  margin: 40px 0 0 60px;
}
/* 圖檔img */
.reviews_list_img {
  max-height: 100%;
  max-width: 100%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

/* 發表評論 */
.reviews_push {
  margin: 0 0 0 50px;
}

/* 會員大頭貼 */
.reviews_member_img {
  max-height: 70%;
  max-width: 70%;
  width: 100px;
  height: 100px;
  margin: 45px 0 0 50px;
}
/* 會員暱稱 */
.reviews_member_nickname {
  margin: 0 0 0 0px;
}

/* 未登入會員連結 */
.reviews_Login {
  margin: 50px auto 80px 400px;
}
/* 下方其他會員書評 */
.reviews_text {
  width: 1000px;
  height: 50px;
  margin: 20px auto;
}
/* 下方書評區塊 */
.reviews_member_text {
  margin: 0 auto 0 70px;
}
/* 會員右方刪除修改按鈕 */
.reviews_member_icon {
  display: flex;
  justify-content: center;
  width: 20px;
  font-size: 20px;
}

/* 下方大頭貼 */
.reviews_memberReview_img {
  max-height: 70%;
  max-width: 70%;
  width: 100px;
  height: 100px;
  margin: 0px 0 0 50px;
}

/* 日期時間 */
.reviews_time {
  opacity: 0.5;
}

/* 修改評論按鈕 */
.reviews_UpdateBtn {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: #cde2d0;
  margin: 1rem 0 2rem 880px;
}

/* 書評下方點評 */
.reviews_reply {
  width: 1000px;
  height: 35px;
  margin: 0 0 10px 0;
  border-radius: 0.2rem;
  padding: 0.2rem;
  resize: none;
}
