$black-tea: #2d3a3a;
$season-green: #cde2d0;
$grass-yellow: #ffc408;
$grey-grey: #979d9d;
$Darjeeling: #ff525b;
$deepsea: #58b2dc;

%card-module {
  border-radius: 5px;
  box-shadow: 3px 3px 10px #ccc;
  background-color: #ffffff;
  //@extend %card-module;
}
%title-module {
  font-size: 1.4rem;
  font-weight: bold;
  //@extend %title-module;
}
