@import './systemcolor';

.post-article {
  input {
    border: none;
  }
  textarea {
    padding: 8px 24px;
    border: none;
    width: 100%;
    overflow: auto;
    height: 120px;
    resize: none;
  }
  img {
    padding: 0 16px;
    max-width: 800px;
    max-height: 600px;
    object-fit: contain;
  }

  .faketext {
    padding: 8px 24px;
    display: block;
    border: 2px silver solid;
    width: 100%;
    word-break: normal;
  }
  .dis-play {
    display: flex;
  }
  .Navbar {
    background: $season-green;
    height: 65px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    .container {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  #side-panel {
    position: relative;
    top: 0;
    &.fixed {
      @extend %card-module;
      min-width: 200px;
      position: fixed;
    }
  }

  .container.end {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    .aside {
      @extend %card-module;
      min-width: 200px;
      right: 0;
      top: 0;
      position: absolute;
    }
    .container-m {
      max-width: 900px;
      @extend %card-module;
      min-height: 1000px;
      .title-line {
        background: $grass-yellow;
        margin-bottom: 8px;
        height: 5px;
        width: 100%;
      }
    }
  }
  .selectControl {
    &.show {
      border: 2px solid $Darjeeling;
      border-radius: 5px;
    }
  }
  .title-control {
    width: 100%;
    display: flex;
    padding: 0 16px;
  }
  .post-title {
    display: flex;
    box-sizing: border-box;
    @extend %title-module;
    padding: 8px 16px;
    #subcate-help {
      padding-left: 16px;
      line-height: 33px;
      color: $Darjeeling;
      display: none;
      &.show {
        display: block;
      }
    }
    #title-help {
      padding-left: 8px;
      line-height: 33px;
      color: $Darjeeling;
      display: none;
      &.show {
        display: block;
      }
    }
  }

  .title-title {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: -4px;
  }
  .select {
    flex-grow: 0;
  }
  #title {
    max-width: 700px;
    width: 100%;
    color: $grey-grey;
    &.show {
      border: 2px solid $Darjeeling;
      border-radius: 5px;
    }
  }
}
